---
import Layout from '../layouts/Layout.astro'
import AboutUsAccordion from '../components/company/AboutUsAccordion.svelte'

const title = 'Om oss | Klimatkollen - få koll på företagens utsläpp'

---

<Layout {title}>
  <h1>Om oss</h1>

  <p>
    Klimatkollen är en medborgarplattform som tillgängliggör klimatdata. Klicka
    på rubrikerna för att läsa mer.
  </p>

  <AboutUsAccordion client:load />
</Layout>
