<div class="w-full">
  <div class="flex flex-col items-center">
    <h5 class="mt-4 text-center text-blue-600 md:mt-8">Med stöd från</h5>
    <div
      class="mb-12 flex w-full flex-row flex-wrap items-center justify-center px-4 md:px-8"
    >
      <a href="https://www.google.org/" target="_blank" rel="noreferrer">
        <img
          src="/allies/google_org_white.svg"
          class="mx-6 my-4 h-[45px] md:mx-10"
          alt="Google.org logo"
        />
      </a>
    </div>
    <h5 class="mt-4 text-center text-blue-600 md:mt-8">Partners</h5>
    <div
      class="mb-12 flex w-full flex-row flex-wrap items-center justify-between px-4 md:px-16"
    >
      <a
        href="https://www.climateview.global/"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="/allies/climateview.svg"
          class="m-4 h-auto w-[90px]"
          alt="ClimateView logo"
        />
      </a>
      <a href="https://researchersdesk.se/" target="_blank" rel="noreferrer">
        <img
          src="/allies/researchersdesk-logo.svg"
          class="m-4 h-[60px] w-auto"
          alt="Researchers desk logo"
        />
      </a>
      <a href="https://www.klimatklubben.se/" target="_blank" rel="noreferrer">
        <img
          src="/allies/klimatklubben.svg"
          class="m-4 h-[45px] w-auto"
          alt="Klimatklubben logo"
        />
      </a>
      <a
        href="https://exponentialroadmap.org/"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="/allies/exponential_roadmap.svg"
          class="m-4 h-auto w-[105px]"
          alt="Exponential Roadmap logo"
        />
      </a>
    </div>
  </div>
</div>
